.reveal section img.small-icon {
    border: none;
    margin: 0;
}
p.social-info span {
    padding-left: 5px;
}
span.monospace {
    font-family: monospace;
    margin-right: 0.5em;
}
li.spaced {
    margin-bottom: 0.2em;
}
div.clear {
    height: 1em;
}